.card {
  display: grid;
  gap: 26px;
  width: 325px;
  padding: 22px;
  border-radius: 24px;
  border: 1.5px solid black;
  font-family: "Figtree", serif;
  box-shadow: 8px 8px black;
}

.topImg {
  object-fit: cover;
  width: 100%;
  border-radius: 12px;
  height: 206px;
  border-bottom: none;
}

.cardContent {
  display: grid;
  /* gap: 16px; */
}

.cardContent h2 {
  font-size: 19px;
  font-weight: 900;
}

.cardContent h3 {
  width: fit-content;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 900;
  background-color: rgb(242, 206, 77);
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.card p {
  font-size: 11px;
  padding-top: 14px;
  font-weight: 700;
}

.card p.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: smaller;
  font-weight: 600;
  line-height: 1.5;
}

div.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: auto;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border-bottom: none;
}

.author h4 {
  font-weight: 800;
}
