.card {
  display: grid;
  gap: 26px;
  width: 325px;
  height: auto;
  padding: 22px;
  border-radius: 16px;
  font-family: "Figtree", serif;
  background-color: rgb(21, 39, 63);
  box-shadow: 10px 10px 2px rgb(37, 73, 119);
}

.topImg {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  border-bottom: none;
}

.cardContent h3 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.cardContent > p {
  padding-top: 20px;
  color: rgb(140, 161, 192);
}

.price {
  display: flex;
  justify-content: space-between;
}

p.crypto {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgb(4, 251, 249);
}

p.numbers {
  display: flex;
  gap: 6px;
  align-items: center;
  color: rgb(140, 161, 192);
}

.cardContent h4 {
  font-size: 14.5px;
  font-weight: 300;
  color: rgb(140, 161, 192);
}

.author h4 span {
  color: rgb(255, 255, 255);
}

div.author {
  border-top: 1px solid rgb(56, 76, 105);
  padding-top: 12px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.author img {
  border: 1px solid white;
  width: auto;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border-bottom: none;
}
